{% extends "base.html" %}

{% block content_left %}
    <div class="page-detay">
        <h2>LİG FİKSTÜRÜ</h2>

        <div>

            <table class="tblFikstur">
                <thead>
                <tr>
                    <th colspan="5">1.Hafta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>

                </tbody>
            </table>

            <table class="tblFikstur">
                <thead>
                <tr>
                    <th colspan="5">2.Hafta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>
                <tr>
                    <td>YEŞİLÇAYSPOR</td>
                    <td>2</td>
                    <td>-</td>
                    <td>1</td>
                    <td>ESKİŞEHİRSPOR</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

