{% extends "base.html" %}
{% load static %}

{% block content_left %}
    <div class="blog">
        <h2>HABERLER</h2>
        {% for haber in haberler %}
            <article>
                <img src="{{ haber.foto.url }}"/>

                <div class="blog-text">
                    <h4>{{ haber.baslik }}</h4>

                    <p>{{ haber.icerik|truncatechars:170 | safe }}</p>

                    <a href="{% url "haber_detay" haber.id %}"><i class="fa fa-share fa-fw"></i>haberin devamı..</a>

                    <div class="datetime">{{ haber.olusturulma_tarihi }}</div>
                </div>
            </article>
        {% endfor %}
        <div class="tumHaberler">
            <a href="#"><i class="fa fa-share fa-fw"></i>Tüm Haberler</a>
        </div>
    </div>
{% endblock %}







