{% extends "base.html" %}
{% load static %}

{% block slider %}
    <section>
        <div class="container">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item" style="background: url(static/img/slider/slider1.png) no-repeat;">
                    <span>Yeni transferimiz Samuel Holmen yarın resmi sözleşme imzalayacak</span>
                </div>
                <div class="item" style="background: url(static/img/slider/slider2.png) no-repeat;">
                    <span>Takımımızda Kayserispor maçının hazırlıkları tamamlandı</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content_left %}
    <div class="blog">
        <h2>HABERLERİMİZ</h2>
        {% for haber in haberler %}
            <article>
                <img src="{{ haber.foto }}"/>

                <div class="blog-text">
                    <h4>{{ haber.baslik }}</h4>

                    <p>{{ haber.icerik|truncatechars:150 }}</p>

                    <a href="{% url "haber_detay" haber.id %}"><i class="fa fa-share fa-fw"></i>haberin devamı..</a>

                    <div class="datetime">{{ haber.olusturulma_tarihi }}</div>
                </div>
            </article>
        {% endfor %}

        <article>
            <img src="static/img/rk.jpeg"/>

            <div class="blog-text">
                <h4>Siyah ile beyaz gibi farklı iki devreli bir maç oynadık</h4>

                <p>1-1 berabere sona eren Akhisar Bld.Gençlik ve Spor maçının ardından düzenlenen basın
                    toplantısında konuşan Teknik Direktör ...</p>
                <a href="haber_detay.html"><i class="fa fa-share fa-fw"></i>haberin devamı..</a>

                <div class="datetime">17.08.2015 01:25:00</div>
            </div>
        </article>
        <div class="tumHaberler">
            <a href="#"><i class="fa fa-share fa-fw"></i>Tüm Haberler</a>
        </div>
    </div>
{% endblock %}

{% block content_bottom %}
<div class="oyuncularimiz">
    <div class="container">
        <h2>FUTBOLCULARIMIZ</h2>

        <div id="owl-players" class="owl-carousel owl-theme">

            <div class="oyuncu item">
                <a href="">
                    <div class="oyuncu_resim">
                        <img alt=""
                             src="http://media4.fcbarcelona.com/media/asset_publics/resources/000/179/174/original_rgb/mathieu_random_640x720.v1439302741.jpg"
                             title="Mathieu">
                    </div>
                    <div class="oyuncu_detay">
                        <p>
                            <span class="formaNo">24</span>
                            <span class="formaAd">Mathieu</span>
                            <span class="formaMevki">Defender</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="oyuncu item">
                <a href="">
                    <div class="oyuncu_resim">
                        <img alt=""
                             src="http://media4.fcbarcelona.com/media/asset_publics/resources/000/179/174/original_rgb/mathieu_random_640x720.v1439302741.jpg"
                             title="Mathieu">
                    </div>
                    <div class="oyuncu_detay">
                        <p>
                            <span class="formaNo">24</span>
                            <span class="formaAd">Mathieu</span>
                            <span class="formaMevki">Defender</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="oyuncu item">
                <a href="">
                    <div class="oyuncu_resim">
                        <img alt=""
                             src="http://media4.fcbarcelona.com/media/asset_publics/resources/000/179/174/original_rgb/mathieu_random_640x720.v1439302741.jpg"
                             title="Mathieu">
                    </div>
                    <div class="oyuncu_detay">
                        <p>
                            <span class="formaNo">24</span>
                            <span class="formaAd">Mathieu</span>
                            <span class="formaMevki">Defender</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="oyuncu item">
                <a href="">
                    <div class="oyuncu_resim">
                        <img alt=""
                             src="http://media4.fcbarcelona.com/media/asset_publics/resources/000/179/174/original_rgb/mathieu_random_640x720.v1439302741.jpg"
                             title="Mathieu">
                    </div>
                    <div class="oyuncu_detay">
                        <p>
                            <span class="formaNo">24</span>
                            <span class="formaAd">Mathieu</span>
                            <span class="formaMevki">Defender</span>
                        </p>
                    </div>
                </a>
            </div>

            <div class="oyuncu item">
                <a href="">
                    <div class="oyuncu_resim">
                        <img alt=""
                             src="http://media4.fcbarcelona.com/media/asset_publics/resources/000/179/174/original_rgb/mathieu_random_640x720.v1439302741.jpg"
                             title="Mathieu">
                    </div>
                    <div class="oyuncu_detay">
                        <p>
                            <span class="formaNo">24</span>
                            <span class="formaAd">Mathieu</span>
                            <span class="formaMevki">Defender</span>
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<div class="sponsor">
    <div class="container">
        <h2>SPONSORLARIMIZ</h2>
        <ul class="row">
            <li class="col-md-2">
                <figure><a href="#"><img class=""
                                         src="http://goalklub.chimpgroup.com/wp-content/uploads/home-logo-01.png"
                                         alt=""></a></figure>
            </li>
            <li class="col-md-2">
                <figure><a href="#"><img class=""
                                         src="http://goalklub.chimpgroup.com/wp-content/uploads/home-logo-02.png"
                                         alt=""></a></figure>
            </li>
            <li class="col-md-2">
                <figure><a href="#"><img class=""
                                         src="http://goalklub.chimpgroup.com/wp-content/uploads/home-logo-03.png"
                                         alt=""></a></figure>
            </li>
            <li class="col-md-2">
                <figure><a href="#"><img class=""
                                         src="http://goalklub.chimpgroup.com/wp-content/uploads/home-logo-04.png"
                                         alt=""></a></figure>
            </li>
            <li class="col-md-2">
                <figure><a href="#"><img class=""
                                         src="http://goalklub.chimpgroup.com/wp-content/uploads/home-logo-05.png"
                                         alt=""></a></figure>
            </li>
            <li class="col-md-2">
                <figure><a href="#"><img class=""
                                         src="http://goalklub.chimpgroup.com/wp-content/uploads/home-logo-06.png"
                                         alt=""></a></figure>
            </li>
        </ul>
    </div>
</div>
{% endblock %}






