{% extends "base.html" %}

{% block content %}
    <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="page-detay">
                            <h2>STADIMIZ</h2>
                            <ul class="row">
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                                <li class="col-md-3"><a href="static/img/rk.jpeg" class="fancybox-thumb" rel="fancybox-thumb"><img src="static/img/rk.jpeg" class="ref" alt="" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Tarihçe</a>
                            <a href="#" class="list-group-item">Başkanlarımız</a>
                            <a href="#" class="list-group-item">Stadımız</a>
                            <a href="#" class="list-group-item">Tesislerimiz</a>
                            <a href="#" class="list-group-item">Yönetim</a>
                            <a href="#" class="list-group-item">Kulüp Üyelik Başvuru Formu</a>
                        </div>

                        <div class="fikstur">
                            <div id="owl-fikstur" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="weekname">1.Hafta</div>
                                    <div class="teams">
                                        <ul>
                                            <li class="hometeam">
                                                <ul>
                                                    <li style="display:block;" class="hometeam-logo"><img src="static/img/club/torku.jpg" height="65"></li>
                                                    <li style="display:block;" class="hometeam-name">YEŞİLÇAYSPOR</li>
                                                </ul>
                                            </li>
                                            <li class="vs">
                                                <ul>
                                                    <li class="vs-datum">29 Ağustos 2015 Cumartesi 21:45</li>
                                                    <li class="vs-place">Konya Büyükşehir Torku Arena</li>
                                                    <li class="vs-score">1 - 1</li>
                                                </ul>
                                            </li>
                                            <li class="awayteam">
                                                <ul>
                                                    <li style="display:block;" class="hometeam-logo"><img src="static/img/club/cimbom.jpg" height="65"></li>
                                                    <li style="display:block;" class="hometeam-name">GALATASARAY</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="weekname">2.Hafta</div>
                                    <div class="teams">
                                        <ul>
                                            <li class="hometeam">
                                                <ul>
                                                    <li style="display:block;" class="hometeam-logo"><img src="static/img/club/torku.jpg" height="65"></li>
                                                    <li style="display:block;" class="hometeam-name">YEŞİLÇAYSPOR</li>
                                                </ul>
                                            </li>
                                            <li class="vs">
                                                <ul>
                                                    <li class="vs-datum">29 Ağustos 2015 Cumartesi 21:45</li>
                                                    <li class="vs-place">Konya Büyükşehir Torku Arena</li>
                                                    <li class="vs-score">-</li>
                                                </ul>
                                            </li>
                                            <li class="awayteam">
                                                <ul>
                                                    <li style="display:block;" class="hometeam-logo"><img src="static/img/club/cimbom.jpg" height="65"></li>
                                                    <li style="display:block;" class="hometeam-name">GALATASARAY</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="puanList">
                            <table class="table table-striped puanDurumu">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Takım</th>
                                        <th>O</th>
                                        <th>G</th>
                                        <th>B</th>
                                        <th>M</th>
                                        <th>AV</th>
                                        <th>P</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Yeşilçayspor</td>
                                        <td>13</td>
                                        <td>13</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>33</td>
                                        <td>33</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Gedizgücü</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>3</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Gedizgücü</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>3</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Gedizgücü</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>3</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Emetspor</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>3</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Erdoğmuşspor</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>3</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="facebook_likebox">
                            <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fyesilcayspor&amp;width=360&amp;colorscheme=light&amp;connections=8&amp;stream=false&amp;header=false&amp;height=360" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:360px; height:213px;" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </section>
{% endblock %}

{% block extraJS %}
    <script src="{% static 'plugins/fancyapps-fancyBox/lib/jquery.mousewheel-3.0.6.pack.js'%}"></script>
    <script src="{% static 'plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'plugins/fancyapps-fancyBox/source/helpers/jquery.fancybox-thumbs.js' %}"></script>
    <script>
    $(".fancybox-thumb").fancybox({
        prevEffect: 'none',
        nextEffect: 'none',
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 50,
                height: 50
            }
        }
    });
    </script>
{% endblock %}
