{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block content_left %}
    <div class="page-detay">
        <h2>TESİSLERİMİZ</h2>
        <ul class="row">
            {% for foto in fotolar %}
                <li class="col-md-3">
                    <a href="{{ foto.foto.url }}" class="fancybox-thumb" rel="fancybox-thumb">
                        <img src="{% thumbnail foto.foto 150x150 %}" class="ref" alt=""/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block extraJS %}
    <script src="{% static 'plugins/fancyapps-fancyBox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script src="{% static 'plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'plugins/fancyapps-fancyBox/source/helpers/jquery.fancybox-thumbs.js' %}"></script>
    <script>
        $(".fancybox-thumb").fancybox({
            prevEffect: 'none',
            nextEffect: 'none',
            helpers: {
                title: {
                    type: 'outside'
                },
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });
    </script>
{% endblock %}
